.pokedexContainer {
  background-color: red;
  padding: 100px;
  flex-wrap: wrap;
  display: flexbox;
  justify-content: space-evenly;

}
.card{
  justify-content: space-evenly;
  border-radius: 10px;
  background-color: rgb(245, 241, 241);
  height: 160px;
  width: 120px;
}