.pokedexContainer {
  background-color: rgb(68, 66, 66);
  padding: 100px;

}
#conatiner{
  display: inline-block;
}
.card_name{
  color: white;
  font-weight: bolder;
}
.card{
  justify-content: space-evenly;
  border-radius: 10px;
  border-color: blue;
  border-width: 10px;
  border-style:solid ;
  background-color: rgb(12, 11, 11);
  height: 310px;
  width: 280px;
  margin: 20px;
  display: inline-block;
  align-items: center;
  text-align: center;
}
.card_info{
  align-items: center;
  color: white;
}